body {
    background-color: #1b1b24;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 64px;
    margin: 20px 0;
    color: #00d7ff;
    text-shadow: 2px 2px 4px #000;
}

h2 {
    font-size: 32px;
    color: #ffa500;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin: 20px 0;
    color: #ccc;
    line-height: 1.6;
}

a img {
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

a img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
}

form {
    background-color: #282838;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

form input[type="text"],
form button {
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    width: 80%;
}

form input[type="text"] {
    background-color: #fff;
    color: #000;
}

form button {
    background-color: #ffa500;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #ff8400;
}
